mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
            video(src=video.fileUrl)
        div.video-mixin__data(data-owner=video.owner)
            span.video-mixin__title=video.title
            div.video-mixin__meta
                div.video-mixin__user
                    img.userImg
                    span.username
                div.video-mixin__views 조회수 #{video.meta.views}회